<!DOCTYPE html>
<html>
<head>
    <title>XShare - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <h1>XShare - <%= title %></h1>
    <form action="/send" enctype="multipart/form-data" method="post">
        <!-- uncomment the "Multiple files" verison
        <input type="file" name="upload" id="sendFile" multiple/>
        -->
        <input type="file" name="upload" id="sendFile"/>
        <output id="selectedList">
            <ul></ul>
        </output>
        <button type="button" id="sendButton" disabled>Send</button>
        <button type="button" id="receiveButton">Receive</button>
    </form>
    <p id="status">
    </p>

    <!-- for socket.io -->
    <script type="text/javascript" src="/javascripts/socket.io.min.js"></script>
    <!-- for xshare -->
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <script type="text/javascript" src="/javascripts/all.js"></script>
</body>
</html>
