<!DOCTYPE html>
<html>
<head>
    <title>Share<%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/general.css" rel="stylesheet" media="screen">
    <link href="css/messenger.css" rel="stylesheet" media="screen">
    <link href="css/messenger-theme-future.css" rel="stylesheet" media="screen">
<!--     <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/buttons.css"> -->
</head>
<body>
    <div>
        <div class="hero-unit bb">
            <h1>Share<%= title %></h1>
            <p>Just Find someone nearby, select your file and drag it to the right!</p>
            <!-- <p class="row">
                <a class="btn btn-primary btn-large span3" href="javascript:pairButton.click();">Find someone nearby!</a>
                <a class="btn btn-primary btn-large span3" id="fileDelegate" href="javascript:sendFile.click();" >Select file</a>
            </p> -->
            <div class="row-fluid midtable">
                <table class="whitefont table" id="pairTable">
                    <thead class="">
                        <tr style="vertical-align:middle;text-align:center;">
                            <th class="span4">NAME</th>
                            <th class="span4">DISTANCE</th>
                            <th class="span4">STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div>
                <canvas id="canvas" class="media background" width="0" height="0"/>
            </div>  
            <button class="btn-primary btn-large span4" type="button" id="downloadButton" hidden>Download</button>
        </div>
        <div>
            <output class="whitefont" id="selectedList" hidden>
                <ul></ul>
            </output>
            <p class="whitefont" id="status"></p>
            <form  action="/upload" enctype="multipart/form-data" method="post">
                <!-- uncomment the "Multiple files" verison
                <input type="file" name="upload" id="sendFile" multiple/>
                -->
                <div class="row">
                    <button type="button" id="sendButton" disabled hidden>Send</button>
                    <button type="button" id="receiveButton" hidden>Receive</button>
                    <button type="button" id="pairButton" hidden>Pair</button>
                    <button type="button" id="pairSendButton" hidden>PSend</button>
                    
                    <a class="" href="javascript:sendFile.click();" hidden>
                        <span><em>+</em>选择图片
                        <input class="input-large" type="file" name="upload" id="sendFile"/>
                        </span>
                    </a>
                </div>
                
            </form>
            <progress value="1" max="100" hidden id="uploadProgress"></progress>
            
        </div>
    </div>
    <a href="" id="downloadLink" hidden>Download</a>
    
    <!-- for socket.io -->
    <script type="text/javascript" src="/javascripts/socket.io.min.js"></script>
    <!-- for Share -->
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <script type="text/javascript" src="/javascripts/userLogic.js"></script>
    <script type="text/javascript" src="/js/jquery-min.js"></script>
    <script type="text/javascript" src="/js/messenger.min.js"></script>
    
     <!--  <script src="js/bootstrap.min.js"></script> -->
</body>
</html>
