

body{
	font-family:"Lucida Grand","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
}
form,button{border:0;margin:0;padding: 0;}
.spacer{clear:both;height: 1px}

.myform{
	margin:0 auto;
	width: :600px;
	padding: :14px;
}

#stylized{
	border:solid 2px #b7ddf2;
	background: :#ebf4fb;
}

#stylized input{
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border:solid 1px #aacfe4;
	width: 400px;
	margin: 2px 0 20px 10px;
}

#stylized button{
	clear:both;
	margin-left: 50px;
	width: 100px;
	height: 30px;
	text-align: left;
	line-height: 31px;
	color:#FFFFFF;
	font-size: 11px;
	font-weight: bold;
}